.width {
    max-width: 100%;
}
.nav-header ul li {
    display: none;
}
.nav-header ul a.nav-icon {
    float: right;
    display: block;
}
.nav-header.responsive {
    position: relative;
}
.nav-header.responsive ul a.nav-icon {
    position: absolute;
    right: 15px;
    top: -35px;
    color: #fd029d;
    z-index: 2;
}
.nav-header.responsive ul li {
    display: block;
    text-align: left;
    margin: 0;
}
.nav-header.responsive ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    background: black;
    margin: 0;
    top: 55px;
    z-index: 1;
    padding-bottom: 10px;
    border-radius: 0 0 50px 50px;
    position: absolute;
}
.nav-header.responsive {
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.nav-header.responsive h2 {
    padding-top: 16px;
}
.home-content {
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
}
.home-content div {
    align-items: center;
}
.home-content div h1 {
    font-size: 30px;
}
.home-content div p {
    font-size: 20px;
    text-align: center;
}
.home-img-container img {
    width: 250px;
    height: 250px;
    top: 8px;
    left: 75%;
}
.home-img-container {
    width: 250px;
    height: 250px;
}
.button-home {
    width: 160px;
    padding: 15px 20px;
    font-size: 17px;
}
.container {
    max-width: 95%;
}
.about-container img {
    width: 365px;
}
.about-container {
    flex-direction: column;
}
.about-text p {
    font-size: 20px;
    text-align: center;
}
.card-image {
    height: 350px;
}
.skill-list {
    width: 100%;
    margin: 0;
    margin-top: 3rem;
}
.skill-list li img {
    width: 150px;
    height: 160px;
}
.skill-list li {
    width: 200px;
}
.contact-container {
    width: 100%;
    min-height: 90vh;
    display: flex;
    height: 30rem;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: flex-start;
}
.wrap-contact {
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.contact-pic {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contact-pic img {
    height: 200px;
    max-width: 200px;
}
.contact-pic ul {
    padding-left: 0;
    gap: 6px;
}
.contact-pic ul a {
    font-size: 17px;
}
.contact-img {
    padding: 0;
}
.l-form {
    height: 60vh;
    width: 100%;
}
.form {
    width: 100%;
    padding: 0;
}
@media screen and (max-width: 400px){
    .contact-container {
        min-height: 130vh;
    }
    .l-form {
        height: 80vh;
    }
    .contact-pic img {
        height: 155px;
    }
    #button-top i {
        text-align: center;
    }
    .container {
        max-width: 90%;
    }
    .cards {
        justify-content: center;
    }
    .contact-pic ul a {
        font-size: 15px;
    }
}

.footer-content {
    flex-direction: column;
    align-items: center;
}
.footer-text {
    text-align: center;
    margin-bottom: 1rem;
}
.b-black {
    padding: 0rem 1rem 3rem 1rem;
}
.arrows button {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}
.timeline ol,
.timeline ol li {
  width: auto; 
}
.timeline ol {
  padding: 0;
  transform: none !important;
}
.timeline ol li {
  display: block;
  height: auto;
  background: transparent;
}
.timeline ol li:first-child {
  margin-top: 25px;
}
.timeline ol li:not(:first-child) {
  margin-left: auto;
}
.timeline ol li div {
  width: 94%;
  height: auto !important;
  margin: 0 auto 25px;
}

.timeline ol li div {
  position: static;
}
.timeline ol li:nth-child(odd) div {
  transform: none;
  border-radius: 10px 10px 10px 10px;
}
.timeline ol li:nth-child(even) div {
    border-radius: 10px 10px 10px 10px;
}
.timeline ol li:nth-child(odd) div::before,
.timeline ol li:nth-child(even) div::before {
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  border: none;
  border-left: 1px solid #fd029d;
  height: 25px;
}
.timeline ol li:last-child,
.timeline ol li:nth-last-child(2) div::before,
.timeline ol li:not(:last-child)::after,
.timeline .arrows {
  display: none;
}