/* velocidade de scroll do site  */
html {
    scroll-behavior:smooth;
}
/* confirgurações gerais como cor e fonte  */
body {
    background-color: rgba(0, 0, 0, 0.863);
    font-family: 'Roboto', sans-serif;
}
/* classe para centralizar conteúdo do site  */
.width {
    max-width: 1150px;
    margin: 0px auto;
}
/* Formatação do header (cabeçalho)  */
.header-1 {
    background-color: black;
    border-radius: 3px;
}
.nav-header ul a.nav-icon {
    display: none;
}
.nav-header {
    height: 70px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    align-items: center;
}
.nav-header h2 {
    margin-left: 15px;
}
.nav-header h2 a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: inline-block;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.nav-header h2 a::before {
    content: '';
    background-image: linear-gradient(to right,
    #fd029d,
    #e456c5 50%,
    #e456c5 50%
    );
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}
.nav-header h2 a:hover {
    background-position: 0;
}
.nav-header h2 a:hover::before {
    width: 100%;
}
.nav-header ul {
    display: flex;
    list-style: none;
    margin: 0px 15px;
}
.nav-header ul li {
    padding: 10px 0px;
}
.nav-header ul li + li {
    margin-left: 30px;
}
.nav-header ul a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: inline-block;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.nav-header ul a:not(.nav-icon)::before {
    content: '';
    background-image: linear-gradient(to right,
    #fd029d,
    #e456c5 50%,
    #e456c5 50%
    );
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}
.nav-header ul a:hover {
    background-position: 0;
}
.nav-header ul a:hover::before {
    width: 100%;
}
/* Formatação do conteúdo da home  */
.home-content {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 60px 0px;
}
.home-content div {
    color: rgb(255, 255, 255);
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-height: 550px;
    margin-bottom: 80px;
}
.home-content div h1 {
    font-weight: bold;
    font-size: 40px;
}
.home-content div p {
    color: rgb(221, 221, 221);
    font-size: 30px;
    line-height: 1.3;
}
/* efeito de borda gradiente  */
.home-img-container {
    width: 370px;
    height: 400px;
    display: block;
    position: relative;
    border-radius: 8px;
    text-align: center;
    border-style: solid;
    border-width: 10px;
    border-image: radial-gradient(rgb(4 56 245), rgb(247 4 161)) 1;
    border-image-width: 5px;
}
.home-img-container img {
    top: 20px;
    left: 38%;
    margin-left: calc(-200px);
    border-radius: 3px;
    width: 400px;
    position: absolute;
    height: 410px;
}
.container {
    max-width: 1150px;
    background-color: white;
    border-radius: 10px;
}
.container h2 {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.63);
}
/* Formatação da pagina sobre mim  */
.about-text p {
    font-size: 24px;
    margin-bottom: 2px;
}
.section { 
    padding-bottom: 2rem;
}
.sec-padding {
    padding: 3rem 1rem 3rem 1rem;
}
.button-home {
    border: 1px solid transparent;
    padding: 20px 30px;
    border-radius: 45px;
    cursor: pointer;
    background-image: linear-gradient(to right, #e456c5 0%, #fd029d  51%, #e456c5  100%);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    width: 200px;
    transition: all 0.3s ease 0s;
    background-color: transparent;
}
/* botão na pag home que leva para a pag sobre mim  */
.button-home:hover {
    transform: scale(1.05);
    color: #fd029d;
    background-color: transparent;
    background-image: none;
    border: 1px solid #fd029d;
}
/* Formatação de título e parágrafo  */
#about h2  {
    text-align: center;
}
#form h2 {
    text-align: center;
}
#form p {
    text-align: center;
    font-size: 20px;
    margin-top: 2rem;
}
#projects h2{
    text-align: center;
}
.pro-p {
    text-align: center;
    font-size: 20px;
    margin-top: 2rem;
}
#skills h2 {
    text-align: center;
}
#skills p {
    text-align: center;
    font-size: 20px;
    margin-top: 2rem;
}
.about-container {
    display: flex;
    align-items: center;
}
.about-container img {
    width: 525px;
}
.about-text {
    max-width: 410px;
}
/* Formatação da linha do tempo da pag minha trajetória (formação ) */
.timeline {
    white-space: nowrap;
    overflow-x: hidden;
}
.timeline ol {
    font-size: 0;
    width: 80vw;
    padding: 250px 0;
    transition: all 1s;
}
.timeline ol li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    width:  150px;
    height: 3px;
    background: #b5b2b2;
}
.timeline ol li:last-child {
    width: 280px;
}
.timeline ol li:not(:first-child) {
    margin-left: 14px;
}
.timeline ol li:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(100% + 1px);
    bottom: 0;
    width: 12px;
    height: 12px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #fd029d;
}
.timeline ol li div {
    position: absolute;
    left: calc(100% + 7px);
    width: 280px;
    padding: 15px;
    font-size: 1rem;
    white-space: normal;
    color: black;
    background: #ededed;
}
.timeline ol li div::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
}
.timeline ol li:nth-child(odd) div {
    top: -16px;
    transform: translateY(-100%);
    border-radius: 10px 10px 10px 0px;
}
.timeline ol li:nth-child(odd) div::before {
    top: 100%;
    border-width: 8px 8px 0 0;
    border-color: #ededed transparent transparent transparent;
}
.timeline ol li:nth-child(even) div {
    top: calc(100% + 16px);
    border-radius: 0px 10px 10px 10px;
}
.timeline ol li:nth-child(even) div::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent #ededed;
}
.timeline time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
}
:root {
    --surface-color: #fff;
    --curve: 40;
}
/* Formatação da pag meus projetos  */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
}
.card-style {
    position: relative;
    display: block;
    height: 100%;  
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
}
.card-image {      
    width: 100%;
    height: auto;
    vertical-align: inherit !important;
}
.card-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: calc(var(--curve) * 1px);    
    background-color: var(--surface-color);      
    transform: translateY(100%);
    transition: .2s ease-in-out;
}
.card-style:hover .card-overlay {
    transform: translateY(0);
}
.card-header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: calc(var(--curve) * 1px) 0 0 0 !important; 
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
    border-bottom: none !important;
}
.card-arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;      
    z-index: 1;
}
.card-arc path {
    fill: var(--surface-color);
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
} 
.card-style:hover .card-header {
    transform: translateY(0);
}
.card-thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;      
    border-radius: 50%;      
}
.card-title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: #6A515E;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: 'Noto Sans JP', sans-serif;
}
.card-tagline {
    display: block;
    margin: 1em 0;
    font-family: "MockFlowFont";  
    font-size: .8em; 
    color: #D7BDCA;  
}
.card-status {
    font-size: .8em;
    color: #D7BDCA;
    font-family: 'Noto Sans JP', sans-serif;
}
.card-description {
    padding: 0 2em 2em;
    margin: 0;
    color: #D7BDCA;  
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-family: 'Noto Sans JP', sans-serif;
    -webkit-line-clamp: 3;
    overflow: hidden;
}  
/* Formatação da pag skills (meus conhecimentos)  */
.skill-list {
    margin: 60px auto 0px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 1050px;
}
.skill-list li {
    transition: transform 0.35s ease-in-out 0s;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 8px;
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    list-style: none;
    max-width: 330px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 24%) -1px 2px 9px 1px;
}
.skill-list li:hover {
    transform: rotateX(7deg) translateY(-6px) scale(1.05);
}
.skill-list li img {
    width: 200px;
    height: 190px;
    padding: 40px;
}
.skill-list li h3 {
    color: rgb(102 102 102);
    margin-top: 25px;
    font-weight: bold;
    font-size: 24px;
}
.skill-list li p {
    color: rgb(34, 34, 34);
    line-height: 1.3;
    text-align: center;
    margin: 25px 0px;
    font-size: 18px;
}
/* Formatação da pag contato  */
.contact-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30rem;
}
.wrap-contact {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}
.contact-pic {
    width: 310px;
}
.contact-pic img {
    max-width: 500px;
    height: 310px;
}
.contact-img {
    padding: 0rem 0rem 0rem 6rem;
    margin-top: 30px;
    margin-bottom: 35px;
}
.contact-pic ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
    align-items: flex-start;
    padding-left: 7rem;
}
.contact-pic ul a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(--primary-text-color);
    transition: .3s;
    text-decoration: none;
}
.contact-pic ul a svg {
    font-size: 2rem;
    margin-right: .5rem;
    color: #3e3e3e;
}
.contact-pic ul a img {
    color: #3e3e3e;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.contact-form {
    width: 390px;
}
:root{
    --first-color: #fd029d;
    --input-color: #80868B;
    --border-color: #DADCE0;
    --normal-font-size: 15px;
    --small-font-size: 14px;
}
.l-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.l-form p {
    margin-bottom: 2rem;
}
.form{
    width: 450px;;
    padding: 4rem 2rem;
    border-radius: 1rem;
}
.form__title{
    font-weight: 400;
    font-size: 30px;
    color: #333333;
    display: block;
    font-weight: bold;
    text-align: left;
}
.form__div{
    position: relative;
    height: 48px;
    margin-bottom: 1.5rem;
}
.form__input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: var(--normal-font-size);
    border: 1px solid var(--border-color);
    border-radius: 25px;
    outline: none;
    padding: 1rem;
    background: none;
    z-index: 1;
}
.form__label {
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: 0 .25rem;
    background-color: #fff;
    color: var(--input-color);
    font-size: var(--normal-font-size);
    transition: .3s;
}
/* Efeito de float da label do input  */
.form__input:focus + .form__label{
    top: -.5rem;
    left: .8rem;
    color: var(--first-color);
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;
}
.form__input:not(:placeholder-shown).form__input:not(:focus)+ .form__label + textarea {
    top: -.5rem;
    left: .8rem;
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;
}
input:not(:placeholder-shown) + label , textarea:not(:placeholder-shown) + label {
    top: -.5rem;
    left: .8rem;
    color: var(--first-color);
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;
}
.form__input:focus{
    border: 1.5px solid var(--first-color);
}
.form__div textarea {
    min-height: 150px;
    border-radius: 25px;
    padding: 14px 30px;
}
/* Botão enviar da pag contato  */
.contact-btn {
    outline: none;
    width: 100%;
    border: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.form-btn {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background-image: linear-gradient(to right, #e456c5 0%, #fd029d  51%, #e456c5  100%);
    font-size: 15px;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    transition: all 0.3s ease 0s;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid transparent;
    background-color: transparent;
}
.form-btn:hover {
    transform: scale(1.05);
    color: #fd029d;
    background-color: transparent;
    background-image: none;
    border: 1px solid #fd029d;
}
/* formatação ta parte final do site  */
.footer {
    margin-top: 60px;
}
.b-black {
    background-color: black;
    padding-bottom: 1rem;
}
.footer h1 {
    color: #fd029d;
    font-weight: bold;
    font-size: 30px;
}
.footer p {
    color: white;
    font-weight: 500;
    font-size: 20px;
}
.footer-content {
    display: flex;
    justify-content: space-around;
}
.button-footer {
    border: 1px solid transparent;
    padding: 20px 30px;
    border-radius: 45px;
    cursor: pointer;
    background-image: linear-gradient(to right, #e456c5 0%, #fd029d  51%, #e456c5  100%);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    width: 250px;
    transition: all 0.3s ease 0s;
    background-color: transparent;
}
.button-footer:hover {
    transform: scale(1.05);
    color: #fd029d;
    background-color: transparent;
    background-image: none;
    border: 1px solid #fd029d;
}
#button-top {
    z-index: 999;
    position: fixed;
    width: 50px;
    height: 50px;
    background-image: linear-gradient(to right, #e456c5 0%, #fd029d  51%, #e456c5  100%);
    box-shadow: 0px 0px 5px 0px #30303088;
    transition: all 0.5s ease 0s;
    bottom: 21px;
    right: 25px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 20px;
    font-family: 'FontAwesome' !important;
    border: none;
    border-radius: 50%;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    display: none;
}
#button-top:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 12px 0px #3030309c;
    background-image: linear-gradient(to right, #fd029d 0%, #e456c5  51%, #fd029d  100%);
}