body {
    background-color: rgba(0, 0, 0, 0.863);
    font-family: 'Roboto', sans-serif;
}
.width {
    max-width: 1150px;
    margin: 0px auto;
}
.header-1 {
    background-color: black;
    border-radius: 3px;
}
.nav-header {
    height: 55px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    align-items: center;
}
.nav-header h2 {
    margin-left: 15px;
}
.nav-header h2 a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: inline-block;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.nav-header h2 a::before {
    content: '';
    background-image: linear-gradient(to right,
    #fd029d,
    #e456c5 50%,
    #e456c5 50%
    );
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}
.nav-header h2 a:hover {
    background-position: 0;
}
.nav-header h2 a:hover::before {
    width: 100%;
}
.nav-header ul {
    display: flex;
    list-style: none;
    margin: 0px 15px;
}
.nav-header ul li {
    padding: 10px 0px;
}
.nav-header ul li + li {
    margin-left: 30px;
}
.nav-header ul a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: inline-block;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.nav-header ul a::before {
    content: '';
    background-image: linear-gradient(to right,
    #fd029d,
    #e456c5 50%,
    #e456c5 50%
    );
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}
.nav-header ul a:hover {
    background-position: 0;
}
.nav-header ul a:hover::before {
    width: 100%;
}
.home-content {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 60px 0px;
}
.home-content div {
    color: rgb(255, 255, 255);
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-height: 550px;
    margin-bottom: 80px;
}
.home-content div h1 {
    font-weight: bold;
    font-size: 40px;
}
.home-content div p {
    color: rgb(221, 221, 221);
    font-size: 30px;
    line-height: 1.3;
}
.home-img-container {
    width: 370px;
    height: 400px;
    display: block;
    position: relative;
    border-radius: 8px;
    text-align: center;
    border-style: solid;
    border-width: 10px;
    border-image: radial-gradient(rgb(4 56 245), rgb(247 4 161)) 1;
    border-image-width: 5px;
}
.home-img-container img {
    top: 20px;
    left: 38%;
    margin-left: calc(-200px);
    border-radius: 3px;
    width: 400px;
    position: absolute;
    height: 410px;
}
.section {
    max-width: 1150px;
    background-color: white;
    border-radius: 10px;
}
.section h2 {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.63);
}
.section p {
    font-size: 20px;
    margin-bottom: 2px;
}
.sec-padding {
    padding: 1rem 1rem 1rem 1rem;
}
.button-1 {
    border: 1px solid transparent;
    padding: 20px 30px;
    border-radius: 45px;
    cursor: pointer;
    background-image: linear-gradient(to right, #e456c5 0%, #fd029d  51%, #e456c5  100%);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    width: 200px;
    transition: all 0.3s ease 0s;
}
.button-1:hover {
    transform: scale(1.05);
    color: #fd029d;
    background-color: transparent;
    background-image: none;
    border: 1px solid #fd029d;
}
.footer {
    background-color: black;
    margin-top: 60px;
}